<div class="col-6 mt-2">
    <div class="row" style="justify-content: center">
        <label style="text-align: center;"><h3>Painel Administrativo</h3></label>
    </div><br>

    <button class="btn btn-success mb-2" onclick="location.href='?page=admin&method=create'" >Criar Publicação</button>

    <table class="table">
        <thead class="thead-dark">

        <tr>
            <th scope="col">ID</th>
            <th scope="col">TÍTULO</th>
            <th scope="col">ALTERAÇÃO</th>
            <th scope="col">DELEÇÃO</th>
        </tr>

        </thead>
        <tbody>

        {% for post in posts %}
        <tr>
            <th scope="row">{{post.id_postagem}}</th>
            <td>{{post.titulo}}</td>
            <td><button class="btn btn-warning" onclick="location.href='?page=admin&method=updateView&id={{post.id_postagem}}'">Alterar</button></td>
            <td><button class="btn btn-danger" onclick="location.href='?page=admin&method=delete&id={{post.id_postagem}}'">Excluir</button></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>