<div class="col-6 mt-2">
    <div class="row" style="justify-content: center">
        <label style="text-align: center;"><h3>Painel Administrativo</h3></label>
    </div><br>

    <button class="btn btn-success mb-2">Criar Publicação</button>

    <table class="table">
        <thead class="thead-dark">

        <tr>
            <th scope="col">ID</th>
            <th scope="col">TÍTULO</th>
            <th scope="col">ALTERAÇÃO</th>
            <th scope="col">DELEÇÃO</th>
        </tr>

        </thead>
        <tbody>

        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>

        </tbody>
    </table>

</div>