<div class="container">

    <div class="row">

        <div class="col">

            <h2>Postagens</h2>
            <hr>

            {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{post.titulo}}</h5>
                    <p class="card-text">{{post.conteudo}}</p>
                    <div style="text-align: end">
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

    </div>

</div>